* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --primary-color--: #fff;
  --secondary-color--: #333;
  --accent-color--: #8b4513;
  --background-color--: #f9fafb;
}

body {
  font-family: "poppins", sans-serif;
  color: #333;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

.logo {
  font-family: "Pacifico";
  font-size: 2rem;
  color: var(--accent-color--);
}

/* Header Section */

header {
  padding: 0.2rem 2rem;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-container ul {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.header-container a {
  font-weight: 500;
}

.header-container button {
  display: none;
}
/* Header Section End */
